/** HEADER */
.reiseplanungstool .header-navbar-logo{
    color: black;
}

.reiseplanungstool .header-navbar {
    background-color: white;
    color: black!important;
}

.reiseplanungstool .header-navbar i {
    color: black!important;
}

/** BUTTONS */
.reiseplanungstool .btn-reiseplanungstool {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
}

.reiseplanungstool .btn-sm {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 30px;
    padding-right: 30px;
}

.reiseplanungstoo.btn-lg {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 150px;
    padding-right: 150px;
}

/** SIDBAR */
.reiseplanungstool .sidebar {
    padding: 0px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.reiseplanungstool .sidebar-main-nav {
    margin-left: 0px;
}

.reiseplanungstool .nav-reiseplanungstool .nav-item {
    width:100%;
    height:100px;
    margin-bottom: 2px!important;
    margin-top: 2px!important;
}

.reiseplanungstool .nav-reiseplanungstool .nav-link {
    width: 100%;
    height: 100px;
    text-align: center;
    border-radius: 4px;
    padding: 0px;
    padding-top:25px;
}

.reiseplanungstool .nav-reiseplanungstool .nav-link:hover {
    color: white;
    background-color: #4fa3e3;
}

.reiseplanungstool .nav-reiseplanungstool .nav-link i {
    font-size: 1.8rem!important
}


.reiseplanungstool .nav-reiseplanungstool .nav-item a.active {
    color: #4fa3e3;
    background-color: transparent;
}

.reiseplanungstool .nav-reiseplanungstool .mt-10 {
    padding-top: 90px !important;
    margin-top: 0px !important;
}
.reiseplanungstool .nav-reiseplanungstool .mb-8 {
    padding-top: 80px !important;
    margin-top: 0px;
}

/** onepager background */
.reiseplanungstool .background-picture {
    height: 100vh;
}

.reiseplanungstool-onepage main {
    margin-top: calc(50vh - 200px);
}

/** title */
.reiseplanungstool h1, h2, h3, h4, h5, h6 {
    /*color: black;
    font-weight: bold;*/
}

.reiseplanungstool .title-bold {
    font-weight: bold!important;
}

.reiseplanungstool .title-color {
    color: #4fa3e3!important;
}

/** forms */
.reiseplanungstool .form-group-label-inside .form-control {
    border: 2px solid #dfe5e9!important;
    background-color: white!important;
    border-radius: 4px;
    padding: 40px 15px 15px 15px;
    font-size: 16px;
}

.reiseplanungstool .form-group {
    position: relative;
}

.reiseplanungstool .form-group-label-inside label {
    position: absolute;
    top: 6px;
    left: 15px;
    line-height: 24px;
    height: 24px;
    color: #4fa3e3;
}

